 
@model AnalysisPrescriptionViewModel;
<form id="analysisForm" asp-controller="Prescription" asp-action="CreateAnalysis"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onPrescriptionRequestBegin"
      data-ajax-success="onPrescriptionRequestSuccess"
      data-ajax-failure="onPrescriptionRequestFailure"
      data-ajax-complete="onPrescriptionRequestComplete">
    <div class="row">
        <div class="">
            <input type="hidden" asp-for="@Model.PrescriptionId" name="PrescriptionId" />
        </div>
        <div class="col-12">
            <div class="mb-3">
                <div class="mb-3">
                    <div class="form-floating mb-2">
                        <select class="form-select form-select-solid js-select2" asp-items="@Model.AnalysisSelect" asp-for="@Model.AnalysisId" data-placeholder="Select a Analysis">
                        </select>
                        <label class="form-label" asp-for="@Model.AnalysisId">Analysis Name</label>
                    </div>
                    <span class="text-danger d-block" asp-validation-for="@Model.AnalysisId"></span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <div class="form-floating mb-2">
                    <input class="form-control form-control-solid" placeholder="cause..." asp-for="@Model.Cause" />
                    <label class="form-label" asp-for="@Model.Cause"></label>
                </div>
                <span class="text-danger" asp-validation-for="@Model.Cause"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <textarea class="form-control form-control-solid rounded-3" asp-for="@Model.Comment" style="height: 96px;" placeholder="comment..."></textarea>
            </div>
        </div>
        <div class="col-12">
            <div class="actions">
                <button type="button" class="btn-sm btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn-sm btn btn-primary me-2">
                    <span class="indicator-label">
                        Add
                    </span>
                    <span class="indicator-progress">
                        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>